<!DOCTYPE html>
<!-- TODO: TRANSFORMAR ESTE ARCHIVO EN HANDLEBAR -->
<!-- TODO: ENLAZAR CON ARCHIVO CSS EN PUBLIC CORRESPONDIENTE-->
<!-- TODO: ENLAZAR CON ARCHIVO JS EN PUBLIC CORRESPONDIENTE-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../public/css/menu.css">
    <link rel="stylesheet" type="text/css" href="../public/css/login.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />

    <title>Burguer Base</title>
</head>
<body>
    <header class="header">
        <nav class="navbar is-spaced" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a class="navbar-item" href="/">
                    <img src="../public/images/logo.png" width="112" height="28">
                </a>

                <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>

            <div id="navbarBasicExample" class="navbar-menu">
                <div class="navbar-start">
                    <a class="navbar-item" href="/menu">
                        Menu
                    </a>

                    <a class="navbar-item" href="/order">
                        Order
                    </a>
                </div>
            </div>
        </nav>
    </header>
    {{{body}}}

    <script src="../public/js/app.js"></script>
</body>
</html>
