    <!-- Inventory graphs start here  -->
    <div id="inventory">
        <h2>Inventory</h2>
        <textarea id="invGraph" ></textarea>
    <!-- Inventory graphs will end here  -->


       <!-- Menu start here -->
      <div id="menu">
        <h2>Menu</h2>
        <form id="orderForm" action="">
          {{#each hamburgers}}

            <h3>{{this.burger_name}}</h3> 
            <img src="{{this.photo}}" style="height: 250px; width: 280px px;"></img>
            <p>{{this.description}}</p>

            <div class="Burguer">
              <input type="number" min="0" name="cheeseBurger" />
            </div>

          {{/each}}
         
            <!-- submit btn -->
            <button type="submit">Submit</button>

        </form>

      </div>



<!-- Menu end here -->

<script src="public/js/menu.js"></script>
    

