<!DOCTYPE html>
<!-- TODO: TRANSFORMAR ESTE ARCHIVO EN HANDLEBAR -->
<!-- TODO: ENLAZAR CON ARCHIVO CSS EN PUBLIC CORRESPONDIENTE-->
<!-- TODO: ENLAZAR CON ARCHIVO JS EN PUBLIC CORRESPONDIENTE-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../public/css/menu.css">
    <title>Burguer Base</title>
</head>
<body>
    {{{body}}}
</body>
</html>