.first-color {
  background: #5585b5;
}

.second-color {
  background: #53a8b6;
}

.third-color {
  background: #79c2d0;
}

.fourth-color {
  background: #bbe4e9;
}

:root {
  --firstColor: #5585b5;
  --secondColor: #53a8b6;
  --thirdColor: #79c2d0;
  --fourthColor: #bbe4e9;
  background-image: linear-gradient(var(--fourthColor), var(--firstColor));
}

.container {
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
}

.form-box {
  width: 90%;
  max-width: 450px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: linear-gradient(var(--firstColor), var(--fourthColor));
  padding: 50px 10px;
  text-align: center;
}

.form-box h1 {
  margin-bottom: 60px;
  font-size: 30px;
  position: relative;
  color: var(--fourthColor);
}

.form-box h1::after {
  content: "";
  width: 50px;
  height: 4px;
  border-radius: 3px;
  background: var(--fourthColor);
  position: absolute;
  bottom: -12px;
  left: 50%;
  transform: translate(-50%);
}

.input-field {
  background: var(--secondColor);
  margin: 15px 0;
  border-radius: 3px;
  display: flex;
  align-items: center;
  max-height: 65px;
  transition: max-height 0.5s;
  overflow: hidden;
}

input {
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
  padding: 18px 15px;
}

.input-field span {
  margin-left: 15px;
  color: var(--fourthColor);
}

form p {
  text-align: left;
  font-size: 13px;
}

form p a {
  text-decoration: none;
  color: var(--firstColor);
}

.btn-field {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.btn-field button {
  flex-basis: 48%;
  background: var(--secondColor);
  color: var(--fourthColor);
  height: 40px;
  border-radius: 20px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: background 1s;
}

.input-group {
  height: 280px;
  width: auto;
}

button.disable {
  background: var(--fourthColor);
  color: var(--firstColor);
}
